# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [36]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq': 20}}

# Use count_documents to display the number of documents in the result

number_of_documents = establishments.count_documents(query)
print(f"Number of establishments with a hygiene score of 20 is {number_of_documents}.")

Number of establishments with a hygiene score of 20 is 41.

In [12]:
# Display the first document in the results using pprint

pprint(establishments.find_one(query))

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('664765f882c80b35018e530b'),
 'geocode': {'latitude': Decimal128('50.769705'),
             'longitude': Decimal128('0.27694')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [41]:
# Convert the result to a Pandas DataFrame
hygiene_score_20 = list(establishments.find(query))
hygiene_score_20_df = pd.json_normalize(hygiene_score_20)

# Print the number of rows in the result
print(f"The number of rows in the Pandas DataFrame showing establishments with a hygiene score \
of 20 is {len(hygiene_score_20_df)}.")

# Display the first 10 rows of the DataFrame

hygiene_score_20_df.head(10)

The number of rows in the Pandas DataFrame showing establishments with a hygiene score of 20 is 41.

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,664765f882c80b35018e530b,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.27694,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,664765f882c80b35018e568c,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,664765f882c80b35018e5996,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.15927,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,664765f882c80b35018e5b84,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.10202,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,664765f882c80b35018e5b93,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,664765f982c80b35018e6532,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,664765f982c80b35018e6753,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.7121671,51.5350065,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,664765fa82c80b35018e7c7e,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,664765fa82c80b35018e80c2,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146449998021126,51.1859474182129,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,664765fa82c80b35018e88d4,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.57005,None,0001-01-01T00:00:00,0,None,0,0,0,0

In [42]:
# show Dataframe again with just a few fields unhiding hygiene score column from output above --
hygiene_score_20_df.loc[:,['BusinessName', 'LocalAuthorityName', 'scores.Hygiene', 'scores.Structural']].head()

          BusinessName LocalAuthorityName  scores.Hygiene  scores.Structural
0  The Chase Rest Home         Eastbourne              20                 20
1           Brenalwood           Tendring              20                 15
2        Melrose Hotel           Tendring              20                 20
3        Seaford Pizza              Lewes              20                 10
4        Golden Palace              Lewes              20                 10

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [56]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.

query = {'LocalAuthorityName': {'$regex': "London"},
                          'RatingValue': {'$gte': 4}  
              }
# Use count_documents to display the number of documents in the result
number_of_documents = establishments.count_documents(query)
print(f"Number of establishments in London with a RatingValue greater than or equal to 4 is {number_of_documents}.\n")

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

Number of establishments in London with a RatingValue greater than or equal to 4 is 33.

{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('664765f982c80b35018e6d26'),
 'geocode': {'latitude': Decimal128('51.369321'),
             'longitude': Decimal128('0.508551')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [53]:
# Convert the result to a Pandas DataFrame
london_rated_4_or_higher = list(establishments.find(query))
london_rated_4_or_higher_df = pd.json_normalize(london_rated_4_or_higher)

# Display the number of rows in the DataFrame
print(f"Number of rows in the Pandas DF showing eestablishments in London with a \
RatingValue greater than or equal to 4 is {len(london_rated_4_or_higher_df)}.")

# Display the first 10 rows of the DataFrame
london_rated_4_or_higher_df.head(10)

Number of rows in the Pandas DF showing eestablishments in London with a RatingValue greater than or equal to 4 is 33.

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,664765f982c80b35018e6d26,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,664765f982c80b35018e704c,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249255999922752,51.1236228942871,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,664765fa82c80b35018e7b99,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,664765fa82c80b35018e8999,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346336990594864,51.4640655517578,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,664765fa82c80b35018e899a,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,664765fb82c80b35018e90a2,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,664765fc82c80b35018eb1b0,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,664765fd82c80b35018eb577,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,664765fd82c80b35018eb591,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,664765fd82c80b35018eb592,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,0.0479655750095844,51.5041122436523,None,0001-01-01T00:00:00,0,None,0,0,0,0

In [59]:
# show Dataframe again with just a few fields unhiding RatingValue column from output above --
london_rated_4_or_higher_df.loc[:,['BusinessName', 'LocalAuthorityName', 'RatingValue', 'scores.Hygiene']].head()

,BusinessName,LocalAuthorityName,RatingValue,scores.Hygiene
0,Charlie's,City of London Corporation,4,5
1,Mv City Cruises Erasmus,City of London Corporation,5,0
2,Benfleet Motor Yacht Club,City of London Corporation,4,0
3,Coombs Catering t/a The Lock and Key,City of London Corporation,5,0
4,Tilbury Seafarers Centre,City of London Corporation,5,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [66]:
penang_flavours = establishments.find_one({"BusinessName":"Penang Flavours"})
lat = penang_flavours['geocode']['latitude']
long = penang_flavours['geocode']['longitude']
print(lat, long)

51.49014200 0.08384000

In [93]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
# degree_search = from_float(degree_search) 
# latitude = float(penang_flavours['geocode']['latitude'])
# longitude = float(penang_flavours['geocode']['longitude'])
latitude = 51.49014200
longitude = 0.08384000

query = {'RatingValue': {'$eq': 5},
            'geocode.latitude': {'$gte': latitude-degree_search, '$lte': latitude+degree_search},
            'geocode.longitude': {'$gte': longitude-degree_search, '$lte': longitude+degree_search}
                         }
# fields = {"BusinessName": 1, "LocalAuthorityName": 1, "RatingValue": 1, 'scores.Hygiene': 1, "geocode.latitude": 1, "geocode.longitude": 1}
fields = {}
sort = [('scores.Hygiene', 1)]
limit = 5

number_of_documents = establishments.count_documents(query)
print(f"Number of establishments with a RatingValue of 5 and within +/- 0.01\u00B0 latitude and +/- 0.01\u00B0 longitude \
from 'Penang Flavours' is {number_of_documents}.\n")

# Print the results
rated_5_near_Penang_Flavours_query = establishments.find(query, fields).sort(sort).limit(limit)
rated_5_near_Penang_Flavours_list = list(rated_5_near_Penang_Flavours_query)
pprint(rated_5_near_Penang_Flavours_list)

Number of establishments with a RatingValue of 5 and within +/- 0.01° latitude and +/- 0.01° longitude from 'Penang Flavours' is 87.

[{'AddressLine1': '130 - 132 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Volunteer',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4646.965634598608,
  'FHRSID': 694609,
  'LocalAuthorityBusinessID': 'PI/000116619',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1JQ',
  'RatingDate': '2019-08-05T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('664765fc82c80b35018eab6a'),
  'geocode': {'latitude': Decimal128('51.4873437'),
              'longitude': Decimal128('0.09208')},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/694609',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Plumstead Manor School Old Mill Road',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Plumstead Manor Nursery',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'ChangesByServerID': 0,
  'Distance': 4646.9740101340385,
  'FHRSID': 695241,
  'LocalAuthorityBusinessID': 'PI/000179088',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1QG',
  'RatingDate': '2021-06-16T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('664765fc82c80b35018eab82'),
  'geocode': {'latitude': Decimal128('51.481517791748'),
              'longitude': Decimal128('0.0859939977526665')},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695241',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': '35 Lakedale Road',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Atlantic Fish Bar',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'ChangesByServerID': 0,
  'Distance': 4646.974611855838,
  'FHRSID': 694478,
  'LocalAuthorityBusinessID': 'PI/000086506',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1PR',
  'RatingDate': '2021-06-16T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('664765fc82c80b35018eab85'),
  'geocode': {'latitude': Decimal128('51.4867296'),
              'longitude': Decimal128('0.0912164')},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/694478',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': '144 - 146 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Iceland',
  'BusinessType': 'Retailers - supermarkets/hypermarkets',
  'BusinessTypeID': 7840,
  'ChangesByServerID': 0,
  'Distance': 4646.946071297699,
  'FHRSID': 695223,
  'LocalAuthorityBusinessID': 'PI/000178842',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1JQ',
  'RatingDate': '2019-11-13T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('664765fc82c80b35018eab3d'),
  'geocode': {'latitude': Decimal128('51.4871482849121'),
              'longitude': Decimal128('0.0924199968576431')},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695223',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}},
 {'AddressLine1': 'Restaurant And Premises 107A Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Howe and Co Fish and Chips - Van 17',
  'BusinessType': 'Mobile caterer',
  'BusinessTypeID': 7846,
  'ChangesByServerID': 0,
  'Distance': 4646.95593107927,
  'FHRSID': 1380578,
  'LocalAuthorityBusinessID': '14425',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1SE',
  'RatingDate': '2021-11-11T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('664765fc82c80b35018eab4d'),
  'geocode': {'latitude': Decimal128('51.4875335693359'),
              'longitude': Decimal128('0.0925370007753372')},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1380578',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}]

In [94]:
# Convert result to Pandas DataFrame
rated_5_near_Penang_Flavours_df = pd.json_normalize(rated_5_near_Penang_Flavours_list)
rated_5_near_Penang_Flavours_df

Number of rows in the Pandas DF showing eestablishments in London with a RatingValue greater than or equal to 4 is 5.

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,664765fc82c80b35018eab6a,694609,0,PI/000116619,Volunteer,Pub/bar/nightclub,7843,130 - 132 Plumstead High Street,,Plumstead,...,0.09208,51.4873437,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,664765fc82c80b35018eab82,695241,0,PI/000179088,Plumstead Manor Nursery,Caring Premises,5,Plumstead Manor School Old Mill Road,,Plumstead,...,0.0859939977526665,51.481517791748,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,664765fc82c80b35018eab85,694478,0,PI/000086506,Atlantic Fish Bar,Takeaway/sandwich shop,7844,35 Lakedale Road,,Plumstead,...,0.0912164,51.4867296,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,664765fc82c80b35018eab3d,695223,0,PI/000178842,Iceland,Retailers - supermarkets/hypermarkets,7840,144 - 146 Plumstead High Street,,Plumstead,...,0.0924199968576431,51.4871482849121,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,664765fc82c80b35018eab4d,1380578,0,14425,Howe and Co Fish and Chips - Van 17,Mobile caterer,7846,Restaurant And Premises 107A Plumstead High St...,,Plumstead,...,0.0925370007753372,51.4875335693359,None,0001-01-01T00:00:00,0,None,0,0,0,0

In [97]:
fields = {"BusinessName": 1, "LocalAuthorityName": 1, "RatingValue": 1, 'scores.Hygiene': 1, "geocode.latitude": 1, "geocode.longitude": 1}
sort = [('scores.Hygiene', 1)]
limit = 87

number_of_documents = establishments.count_documents(query)


# Print the results
rated_5_near_Penang_Flavours_query2 = establishments.find(query, fields).sort(sort).limit(limit)
rated_5_near_Penang_Flavours_list2 = list(rated_5_near_Penang_Flavours_query2)
rated_5_near_Penang_Flavours_df2 = pd.json_normalize(rated_5_near_Penang_Flavours_list2)
rated_5_near_Penang_Flavours_df2.tail()

,_id,BusinessName,RatingValue,LocalAuthorityName,scores.Hygiene,geocode.longitude,geocode.latitude
82,664765fc82c80b35018eacb4,Spice Island,5,Greenwich,5,0.0812250003218651,51.4804420471191
83,664765fc82c80b35018eadae,Plumstead Radical Club,5,Greenwich,5,0.084697000682354,51.4893112182617
84,664765fc82c80b35018eab16,TIWA N TIWA African Restaurant Ltd,5,Greenwich,5,0.0927429,51.4870351
85,664765fc82c80b35018eadbe,Nisa Local,5,Greenwich,5,0.0809311,51.4861922
86,664765fc82c80b35018eadc6,Brew Station,5,Greenwich,5,0.0846755,51.4899426

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

#-------------------
 # Build the aggregation pipeline
# Write a match query to find only the documents about artifacts that
# have a classification where "Sculpture" is contained the value, and
# have a width greater than or equal to 10cm and less than 50cm, and
# have a height greater than or equal to 20cm and less than 60cm.
match_query = {'$match': {'classification': {'$regex': "Sculpture"},
                          'measurements.elementMeasurements.Width': {'$gte': 10, '$lt': 50},
                          'measurements.elementMeasurements.Height': {'$gte': 20, '$lt': 60}
                         }
              }

# Write an aggregation query that counts the number of documents, grouped by "classification" and "culture"
group_query = {'$group': {'_id': {"classification": "$classification",
                                  "culture": "$culture"}, 
                          'count': { '$sum': 1 }
                         }
              }

# Create a dictionary that will allow the pipeline to sort by count in descending order
sort_values = {'$sort': { 'count': -1 }}

# Put the pipeline together
pipeline = [match_query, group_query, sort_values]

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame